* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html, body {
    height: 100%;
    width: 100%;
}
#main {
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
}
#left {
    width: 40%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
}

#left #center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 20px;

}
#center-text h1 {
    font-size: 90px;
    font-weight: 900;
}
#center-text p {
    opacity: .6;
    font-size: 16px;
    line-height: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#center-text a{
    text-decoration: none;
    color: #000000;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    font-size: 13px;
    font-weight: 600;
    opacity: .6;
}
#nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;

}
#navr a {
    margin-right: 20px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 14px;

}
#navr i {
    color: royalblue;
1}
#navr {
    display: flex;
    align-items: center;
    
}

#right {
    width: 60%;
    height: 100%;
    /* background-color: pink; */
}
#rtop {
    width: 100%;
    height: 50%;
    display: flex;
}
#rbottom {
    width: 100%;
    height: 50%;
    background-image: url(https://images.unsplash.com/photo-1587317996312-6314ec7b5a06?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
    background-position: center;
    background-size: cover;
}
#rtopright {
    width: 55%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1509937528035-ad76254b0356?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzR8fGNhY3R1c3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-position: center;
    background-size: cover ;
}
#rtopleft {
    width: 45%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1560607162-26b0344e6943?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjZ8fG9yYW5nZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-position: center;
    background-size: cover;
    
}
/* Making my website responsive */
@media(max-width:500px){
    #main{
        flex-direction: column;
    }
}
#main #left {
    width: 100%;
}
#main #right {
    width: 100%;
}